{% extends "ksu_events/base.html" %}

{% load static %}

{% block clock%}
<div class="proj-box">
    <h1>Create Subevent</h1>
</div>
{% endblock %}

{% block content %}
<div class="card shadow-sm mx-auto my-5 p-3" style="max-width: 600px;">
    <h2>Create Sub-Event for "{{ event }}"</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
<script>
    $(function () {
        $("#id_start_date").datepicker();
        $("#id_end_date").datepicker();
        $("#id_registration_start").datepicker();
        $("#id_registration_end").datepicker();

    });
</script>
{% endblock %}