{% extends "ksu_events/base.html" %}

{% load static %}

{% block clock%}
<div class="proj-box">
    <h1>Event List</h1>
</div>
{% endblock %}

{% block content %}
<div class="card shadow-sm mx-auto my-5 p-3" style="max-width: 600px;">
    <h2>Edit Event: {{ event.name }}</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit">Save Changes</button>
    </form>
    <a type="button" class="btn btn-primary" href="{% url 'view_models' %}">Back to Events</a>
</div>
<script>
    $(function () {
        $("#id_start_date").datepicker();
        $("#id_end_date").datepicker();
        $("#id_registration_start").datepicker();
        $("#id_registration_end").datepicker();

    });
</script>
{% endblock %}