{% extends "ksu_events/base.html" %}

{% load static %}

{% block clock%}
<div class="proj-box">
    <h1>Organizer Dashboard</h1>
</div>
{% endblock %}

{% block content %}

<div class="card shadow-sm mx-auto my-5 p-3" style="max-width: 600px;">
    <h2>Create Event</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success" type="submit">Create Event</button>
    </form>
</div>

<div class="card shadow-sm mx-auto my-5 p-3" style="max-width: 600px;">
    <h2>Active Events</h2>
    <select class="form-select" aria-label="Active Events">
        <option selected>Select an active event</option>
        {% for event in event_models %}
        <option value="{{ event.id }}">{{ event.name }}</option>
        {% endfor %}
    </select>
</div>

<script>
    $(function () {
        $("#id_start_date").datepicker();
        $("#id_end_date").datepicker();
        $("#id_registration_start").datepicker();
        $("#id_registration_end").datepicker();

    });
</script>
{% endblock %}