{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hack K-State</title>
    <link rel="stylesheet" href="{% static 'ksu_events/style.css' %}">
</head>

<body>
    <header>
        <nav>
            <div class="logo">Club Name</div>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Schedule</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Rules</a></li>
                <li><a href="#">Last Year's Projects</a></li>
            </ul>
            <a href="/accounts/login">
                <div class="sign-in">Sign in</div>
            </a>
        </nav>
        <div class="hero">
            <h1>Check out last year's projects!</h1>
            <p>От мобильных приложений до видеоигр, на K-State Club 2024 было подано более 99 проектов, и в мероприятии
                приняли участие 138 студентов колледжей и школ со всего мира.</p>
            <button>View Projects</button>
        </div>
    </header>

    <main>
        <section class="info">
            <div class="info-box">
                <h2>Что такое хакатон?</h2>
                <p>Хакатон — это соревнование изобретений и инноваций в области технологий...</p>
            </div>
            <div class="info-box">
                <h2>Что такое K-State Club?</h2>
                <p>K-State Club — это 36-часовой хакатон в Университете штата Канзас...</p>
            </div>
            <div class="info-box">
                <h2>Кто может участвовать?</h2>
                <p>K-State Club— один из немногих хакатонов в регионе, который собирает вместе студентов старших классов
                    и колледжей...</p>
            </div>
        </section>
    </main>
</body>

</html>