{% extends "ksu_events/base.html" %}

{% load static %}

{% block content %}

<div class="container">
    {% for x in event_models %}

    <div class="tile">
        <h3>Event: {{ x.name }}</h3>
        <ul>
            <li>Start Date: {{ x.start_date }}</li>
            <li>End Date: {{ x.end_date }}</li>
            <li>Reg Start: {{ x.registration_start }}</li>
            <li>Reg End: {{ x.registration_end }}</li>
            <li>Location: {{ x.location }}</li>
        </ul>
        <a href="{% url 'edit_event' x.id %}">Edit</a>
    </div>
    {% endfor %}
</div>
{% endblock %}