a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    margin: 40px
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tile {
    width: fit-content;
    height: 175px;
    overflow: auto;
    padding: 25px;
    border: 5px solid grey ;
    margin: 10px;
}